@font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/Nunito/Nunito-Black.woff2') format('woff2');
    font-weight: 900; 
    font-style: normal;
    font-display: swap; 
}
@font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/Nunito/Nunito-Bold.woff2') format('woff2');
    font-weight: 700; 
    font-style: normal;
    font-display: swap; 
}
@font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/Nunito/Nunito-ExtraBold.woff2') format('woff2');
    font-weight: 800; 
    font-style: normal;
    font-display: swap; 
}
@font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/Nunito/Nunito-ExtraLight.woff2') format('woff2');
    font-weight: 200; 
    font-style: normal;
    font-display: swap; 
}
@font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/Nunito/Nunito-Light.woff2') format('woff2');
    font-weight: 300; 
    font-style: normal;
    font-display: swap; 
}
@font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/Nunito/Nunito-Regular.woff2') format('woff2');
    font-weight: 400; 
    font-style: normal;
    font-display: swap; 
}
@font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/Nunito/Nunito-SemiBold.woff2') format('woff2');
    font-weight: 600; 
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/Ubuntu/Ubuntu-Bold.ttf') format('ttf');
    font-weight: 700; 
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/Ubuntu/Ubuntu-Light.ttf') format('ttf');
    font-weight: 300; 
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/Ubuntu/Ubuntu-Medium.ttf') format('ttf');
    font-weight: 500; 
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/Ubuntu/Ubuntu-Regular.ttf') format('ttf');
    font-weight: 400; 
    font-style: normal;
    font-display: swap;
}