@import './fonts';
/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
    // outline: 1px solid red;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
/* Links */
a, a:link, a:visited  {
    text-decoration: none;
}
a:hover  {
    text-decoration: none;
}
/* Common */
aside, nav, footer, header, section, main {
	display: block;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}
ul, ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
img, svg {
	max-width: 100%;
	height: auto;
}
address {
    font-style: normal;
}
/* Form */
input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}
input::-ms-clear {
	display: none;
}
button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}
input:focus, input:active,
button:focus, button:active {
    outline: none;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
label {
	cursor: pointer;
}
legend {
	display: block;
}

body {
    height: 100%;
    scroll-behavior: smooth;
    color: #FFF;
    font-family: 'Nunito', sans-serif;
}
html {
    height: 100%;
}
// body, html {
//   overflow-x: hidden !important;
// }
.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}
main {
    flex-grow: 1;
}
:root {
    --ubuntu: "Ubuntu", sans-serif;
    --nunito: "Nunito", sans-serif;
    --red: #FF0000;
    --yelow: #FFA900;
    --dark-yelow: #FFC425;
    --yelow-70: #FFA900B2;
    --yelow-45: #FFA90073;
    --light-green: #CCE0A0;
    --light-purple: #C0C5F2;
    --light-blue: #A3D0D6;
    --light-red: #CD5A7E;
    --light-red-2: #FF594D;
    --light-orange: #FFA68A;
}
.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1290px;
    padding: 0 20px;
}
.blackout {
    display: none;
    &.active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgb(0, 0, 0);
        opacity: .4;
        z-index: 19;
        width: 100vw;
        height: 100vh;
        animation: blackAnim .5s forwards;
        cursor: pointer;
    }
}
.no-scroll {
    overflow-y: hidden;
}
@keyframes opacity {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}