@import "@/scss/remFunction";
.catalog-title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    color: #000000;
    @media (max-width: 1000px) {
        font-size: 26px;
    }
    @media (max-width: 768px) {
        font-size: 22px;
    }
    @media (max-width: 480px) {
        font-size: 18px;
    }
}
.catalog-button {
    color: #DA9000;
    font-family: var(--ubuntu);
    font-size: 22px;
    font-weight: 500;
    background-color: #FFF8EB;
    border: 1px solid #FFE7B9;
    border-radius: 16px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: rem(210);
    height: rem(45);
    transition: all .3s ease;
    position: relative;
    &:hover {
        background-color: #FFA900;
        color: #fff;
        &::after, &::before {
            background-color: #fff;
        } 
    }
    &::after, &::before {
        content: '';
        position: absolute;
        background-color: #DA9000;
        height: 2px;
        width: 7px;
        right: 20px;
    }
    &::after {
        transform: rotate(-45deg) translate(0, -50%);
        margin-top: 5px;
    }
    &::before {
        transform: rotate(45deg) translate(0, 50%);
        margin-bottom: 5px;
    }
    @media (max-width: 1000px) {
        font-size: 20px;
        min-width: rem(190);
    }
    @media (max-width: 768px) {
        font-size: 16px;
        min-width: rem(180);
        height: rem(40);
        border-radius: 13px;
    }
    @media (max-width: 480px) {
        font-size: 14px;
        border-radius: 8px;
        height: rem(30);
        min-width: rem(150);
    }
}
.catalog-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: rem(80);
    height: rem(45);
    background-color:#FFF8EB;
    border: 1px solid #FFE7B9;
    border-radius: 58px;
    margin-left: auto;
    padding: 0 9px;
    & div {
        width: rem(29);
        height: rem(29);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .2s ease;
        position: relative;
        cursor: pointer;
        &:hover {
            background-color: #FFA900;
            &::after, &::before {
                background-color: #fff;
            }
        }
        &::after, &::before {
            content: '';
            position: absolute;
            background-color: #FFA900;
            height: 2px;
            width: 7px;
        }
        &:last-child {
            &::after {
                transform: rotate(-45deg) translate(0, -50%);
                margin-top: 5px;
            }
            &::before {
                transform: rotate(45deg) translate(0, 50%);
                margin-bottom: 5px;
            }
        }
        &:first-child {
            &::after {
                margin-top: 2.5px;
                transform: rotate(45deg) translate(0, 50%);
            }
            &::before {
                transform: rotate(-45deg) translate(0, -50%);
                margin-bottom: 2.5px;
            }
        }
    }
}

.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1290px;
    padding: 0 20px;
}
.blackout {
    display: none;
    &.active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgb(0, 0, 0);
        opacity: .4;
        z-index: 19;
        width: 100vw;
        height: 100vh;
        animation: blackAnim .5s forwards;
        cursor: pointer;
    }
}
.no-scroll {
    overflow-y: hidden;
}

.modal-page {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    animation: opacity .5s;
}
.modal-page__inner {
    overscroll-behavior: contain;
    background-color: #fff;
    max-width: rem(1290);
    width: 100%;
    aspect-ratio: 1290/840;
    border-radius: 20px;
    margin: 0 40px;
    overflow-y: scroll;
    position: relative;
    @media (max-width: 1000px) {
        & {
            height: 100%;
            width: 100%;
            margin: 0;
            border-radius: 0;
            padding-bottom: rem(80);
        }
    }   
}
.modal-page__close-btn {
    position: absolute;
    background-color: #F2F3F5;
    width: rem(38);
    height: rem(38);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 10px;
    cursor: pointer;
    &::after, &::before {
        content: '';
        background-color: #AAAAAA;
        height: rem(2.5);
        width: rem(18);
        position: absolute;
    }
    &::after {
        transform: rotate(-45deg);
    }
    &::before {
        transform: rotate(45deg);
    }
}
@keyframes opacity {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}